services:
  mender-client-setup:
    image: ghcr.io/rcwbr/mender-client-docker:0.5.0
    container_name: mender-client-setup
    environment:
      DEVICE_TYPE: ${DEVICE_TYPE}
      TENANT_TOKEN: ${TENANT_TOKEN}
    networks:
      default:
        mac_address: ${MAC_ADDRESS}
    entrypoint: /setup-entrypoint
    volumes:
      # Saves the client configuration between container restarts
      - mender-client-config:/etc/mender
      # Saves the device type between container restarts
      - mender-client-data:/var/lib/mender
  mender-client:
    image: ghcr.io/rcwbr/mender-client-docker:0.5.0
    container_name: mender-client
    networks:
      default:
        mac_address: ${MAC_ADDRESS}
    volumes:
      # Mount the setup from the mender-client-config container
      - mender-client-config:/etc/mender
      # Saves the client key between container restarts
      - mender-client-data:/var/lib/mender
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    depends_on:
      mender-client-setup:
        condition: service_completed_successfully

volumes:
  mender-client-config:
  mender-client-data:
